.column {
  padding: 0 15px;
  box-sizing: border-box;
}

.product {
  font-size: 14px;

  &-row {
    padding-bottom: 40px !important;
  }

  &-name {
    font-size: 36px;
    padding-bottom: 10px;
    font-weight: bold;
  }

  &-tagline {
    font-size: 16px;
    padding-bottom: 15px;
    font-style: italic;
    color: #666666;
  }

  &-description {
    padding-top: 20px;
  }

  &-image {
    height: 220px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &-title {
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: bold;
  }

  &-properties {

    .title {
      padding-bottom: 5px;
      font-weight: bold;
    }

    .details {
      font-size: 12px;
      color: #666666;
    }

    &-method {
      padding-bottom: 10px;
    }
  }

}
